* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
            
  }
body {
    background-image: url('https://images7.alphacoders.com/420/thumb-1920-420606.jpg');
    color: aliceblue;
}
a{
    padding: 50px;
}
img {
    width: 400 px;  
    margin: 0 auto;  
}
div{
    margin-top: 100px;
    margin: 0 auto;
    height: max-content;
    width:max-content;
}
#thirdDiv {
    height: 600px;
    width: 500px;
    background-color: rgb(12, 53, 53);
    border:10px dotted rgb(24, 70, 221) ;
}
#spanId {
    font-size: 18px;
    margin: 50px;
}